/* ALL */

:root {
    --black-color:#000000;
    --blue-color:#0065FC;
    --gray-color:#D9D9D9;
    --graybg-color:#F2F2F2;
    --lightblue-color:#DEEBFF;
}

* {
    margin: 0;
    padding: 0;
    font-family: raleway;
    color: var(--black-color);
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

@font-face {
    font-family: raleway;
    src: url(../font/raleway/static/Raleway-Regular.ttf);
}

@media screen and (min-width: 540px) {
    body {
        margin: 0 50px 0 50px;
    }
    
}

/* Media query : 540px, 650px, 750px, 850px, 950px, 1000px, 1000px, 1440px */

/* Utilities : */

.py {
    padding: 8px 0;
}

.py-x {
    padding: 16px 0;
}

.py-md {
    padding: 24px 0;
}

/* LAYOUT */ 

#layout {
    max-width: 1440px;
    margin: 0 auto;
}

/* HEADER */

.booki-header {
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media screen and (min-width: 540px) {

    .booki-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }

}

.booki-header-logo {
    display: flex;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 540px) {

    .booki-header-logo {
        width: auto;
        justify-content: unset;
    }
}

.booki-header-logo img {
    width: 61px;
}

.booki-header-nav {
    display: flex;
    width: 100%;
}

@media screen and (min-width: 540px) {

    .booki-header-nav {
        width: auto;
    }
}

.booki-header-nav a {
    font-size: 16px;
}

a.booki-header-nav-link {
    width: 50%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--gray-color);
}

@media screen and (min-width: 540px) {
    a.booki-header-nav-link {
        width: auto;
        padding: 0 24px;
    }
}

a.booki-header-nav-link:focus, 
a.booki-header-nav-link:hover {
    border-bottom: 2px solid var(--blue-color);
}

a.booki-header-nav-link:focus > span, 
a.booki-header-nav-link:hover > span {
    color: var(--blue-color);
}

@media screen and (min-width: 540px) {

    a.booki-header-nav-link {
        border-bottom: unset;
        border-top: 2px solid transparent;
        align-items: center;
    }

    a.booki-header-nav-link:focus, 
    a.booki-header-nav-link:hover {
        border-bottom: unset;
        border-top: 2px solid var(--blue-color);
    }
}

p {
    margin: 0;
}

/* TITLE */

.booki-most-popular-card p {
    color: blue;
}

@media screen and (min-width: 540px) {
    .booki-most-popular-card p {
        display: flex;
    }
    
}

.booki-title {
    padding: 31px 20px 36px 20px;
}

.booki-title h1 {
    margin-bottom: 13px;
}

@media screen and (min-width: 540px) {
    .booki-title {
        padding: 31px 0 36px 0;
    }
}

/* FORM */

form {
    padding: 0 20px 0 20px;
}

.booki-form {
    display: flex;
    max-width: 418px;
    height: 50px;
    width: 100%;
    padding: 0px;
}

.booki-form-img {
    border-radius: 15px 0 0 15px;
    display: flex;
    min-width: 49px;
    background-color: #F2F2F2;
    justify-content: center;
}

.booki-form img {
    width: 16px;
}

.booki-form-input {
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    width: 100%;
    max-width: 253px;
}

.booki-form input {
    border: none;
}

.booki-form input::placeholder {
    padding-left: 10px;
    font-family: raleway;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.booki-form-button {
    display: flex;
    min-width: 49px;
    justify-content: center;
    align-items: center;
    background-color: var(--blue-color);
    border-radius: 0 15px 15px 0;
    border: none;
}

.booki-form-button-search {
    display: none;
    font-family: raleway;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

.booki-form-button-icon {
    width: 16px;
}

@media screen and (min-width: 540px) {

    form {
        padding: 0 0 0 0;
    }

    .booki-form-button {
        min-width: 132px;
    }

    .booki-form-button-search {
        display: block;
    }

    .booki-form-button-icon {
        display: none;
    }
}

/* FILTER */

.booki-filter {
    padding: 34px 20px 34px 20px;
}

.booki-filter-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px 5px 0;
}

.booki-filter-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-filter-tag {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px ;
    min-width: 146px;
    padding: 0 0 0 10px;
    margin: 5px 0px 5px 0;
    /* background-color: rgb(146, 167, 235); */
}

.booki-filter-tag:hover {
    background-color: var(--lightblue-color);
}

.booki-filter-tag img {
    width: 22px;
    margin-left: 10px;
}

.booki-filter-tag p {
    display: flex;
    font-size: 11px;
    margin:  0 10px 0 5px;
    align-items: center;
    font-weight: bold;
}

@media screen and (min-width: 450px) {

    .booki-filter {
        padding: 34px 20px 34px 20px;
    }

    .booki-filter-all {
        justify-content: start;
    }

    .booki-filter-tag {
        width: auto;
        margin-right: 20px;
    }

    .booki-filter-tag p {
        font-size: 17px;
    }
}

@media screen and (min-width: 540px) {
    .booki-filter {
        padding: 34px 0 34px 0; 
    }
}

@media screen and (min-width: 950px) {
    .booki-filter {
        display: flex;
        align-items: center;
    }
}
/* INFO */

.booki-info {
    display: flex;
    padding: 0 20px 39px 20px;
}

.booki-info img {
    width: 25px;
    border: solid 1px #D9D9D9;
    border-radius: 40px;
    margin-right: 11px;
}

.booki-info > p {
    position: relative;
    bottom: -5px;
}

@media screen and (min-width: 540px) {
    .booki-info {
        padding: 0 0 39px 0;
    }
}

/* DOUBLE */

.booki-double {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 540px) {
    .booki-double {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1440px) {
    .booki-double {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

/* MOST POPULAR */

.booki-most-popular {
    background-color: var(--graybg-color);
    padding: 28px 20px 28px 20px;
}

.booki-most-popular-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.booki-most-popular-title img {
    width: 18px;
}

.booki-most-popular-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-most-popular-card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    border: 5px solid #FFFFFF;
    margin: 10px 0px 10px 0;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
}

.booki-most-popular-card-left {
    width: 60%;
}

.booki-most-popular-card-left-img {
    height: 144px;
}

.booki-most-popular-card-left-img img {
    width: 100%;
    height: 144px;
    object-fit: cover; 
    border-radius: 20px 0px 0px 20px;
}

.booki-most-popular-card-icon img {
    width: 12px;
    color: #0065FC;
}

.booki-most-popular-card-right {
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.booki-most-popular-card-title {
    font-size: 16px;
    font-weight: bold;
}

.booki-most-popular-card-content {
    font-size: 14px;
}


@media screen and (min-width: 540px) {
    .booki-most-popular {
        border-radius: 20px;
        padding: 40px 37px 40px 37px;
    }
}

@media screen and (min-width: 750px) {
    .booki-most-popular-card  {
        width: 46%;
    }
}

@media screen and (min-width: 950px) {
    .booki-most-popular-card  {
        width: 30%;
    }
}

@media screen and (min-width: 1440px) {

    .booki-most-popular {
        max-width: 420px;
        margin-left: 40px;
    }

    .booki-most-popular-card  {
        width: 100%;
    }
}

/* ACCOMMODATION */

.booki-accommodation {
    padding: 28px 20px 40px 28px;
}

.booki-accommodation h1 {
    margin-bottom: 14px;
}

.booki-accommodation-row {
    display: flex;
    flex-wrap: wrap;
}

.booki-accommodation-card {
    border-radius: 20px;
    background-color: #ffffff;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
    margin: 10px 0 10px 0;
    height: 199px;
    width: 100%;
}

.booki-accommodation-card-img img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.booki-accommodation-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 8px;
}

.booki-accommodation-card-content {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 4px;
}

.booki-accommodation-card-icon {
    margin-left: 8px;
}

.booki-accommodation-card-icon img {
    width: 12px;
    color: #0065FC;
}

.booki-accommodation-more p {
    font-size: 18px;
    font-weight: bold;
    display: none;
    margin-top: 35px;
    margin-bottom: 10px;
}

@media screen and (min-width: 540px) {
    .booki-accommodation {
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 40px 37px 40px 37px;
        margin-bottom: 53px;
    } 

    .booki-accommodation-more p {
        display: block;
    }
}

@media screen and (min-width: 650px) {

    .booki-accommodation-row {
        justify-content: space-between;
    }

    .booki-accommodation-card {
        width: 47%;
    } 
}

@media screen and (min-width: 850px) {

    .booki-accommodation-card {
        width: 31%;
    } 
}

@media screen and (min-width: 1440px) {

    .booki-accommodation {
        max-width: 880px;
        margin-bottom: 0;
    } 
}

/* ACTIVITY */

.booki-activity {
    padding: 45px 20px 45px 20px;
}

.booki-activity h1 {
    margin-bottom: 15px;
}

.booki-activity-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-activity-card {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
    margin: 15px 0px 15px 0;
    height: 190px;
    width: 100%;
}

.booki-activity-card-img img {
    width: 100%;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.booki-activity-card-title {
    height: 45px;
    display: flex;
    align-items: center;
    margin-left: 19px;
    margin-right: 19px;
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 540px) {

    .booki-activity-card {
        width: 48%;
        height: 267px;
    }

    .booki-activity-card-img img {
        height: 221px;
    }

    .booki-activity-card-title {
        height: 35px;
    }
}

@media screen and (min-width: 750px) {
    .booki-activity-card {
        width: 32%;
    }
}

@media screen and (min-width: 950px) {
    .booki-activity-card {
        width: 23%;
    }
}

@media screen and (min-width: 1300px) {

    .booki-activity-card {
        width: 23%;
        height: 444px;
    }

    .booki-activity-card-img img {
        height: 388px;
    }

    .booki-activity-card-title {
        height: 45px;
    }
}


/* FOOTER */

.booki-footer {
    background-color: #F2F2F2;
    padding: 45px 30px 45px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-footer-card {
   width: 100%;
   margin-bottom: 40px;
}

.booki-footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.booki-footer-nav ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
}

.booki-footer-nav a {
    text-decoration: none;
}

@media screen and (min-width: 750px) {

    .booki-footer-card {
        width: 46%;
    } 
}

@media screen and (min-width: 1000px) {

    .booki-footer-card {
        width: 33%;
    } 
}



