/* ALL */

* {
    margin: 0px;
    padding:0px;
}

body, a {
    margin: 0;
    color: black;
    font-family: raleway;
}

h1 {
    font-size: 22px;
}

p {
    font-size: 16px;
}

@font-face {
    font-family: raleway;
    src: url(../font/raleway/static/Raleway-Regular.ttf);
}

:root {
    --blue-color:#0065FC;
    --gray-color:#D9D9D9;
    --graybg-color:#F2F2F2;
}

@media screen and (min-width: 540px) {
    body {
        margin: 0 50px 0 50px;
    }
}

/* HEADER */

.booki-header {
    height: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.booki-header-logo {
    display: flex;
    height: 50%;
    align-items: center;
}

.booki-header-logo img {
    width: 61px;
}

.booki-header-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    align-items: center;
}

.booki-header-nav-link, .booki-header-nav-link-active {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.booki-header-nav-link-active {
    border-bottom: 2px solid var(--blue-color);
}

.booki-header-nav-link {
    border-bottom: 2px solid var(--gray-color);
}

.booki-header-nav-link a, .booki-header-nav-link-active a {
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 22px 0 22px;
    font-size: 16px;
}

.booki-header-nav-link-active a {
    color: var(--blue-color);
}

@media screen and (min-width: 540px) {

    .booki-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: unset;
    }

    .booki-header-logo {
        height: 100%;
    }

    .booki-header-nav {
        height: 100%;
        display: flex;
        justify-content: right;
    }

    .booki-header-nav-link, .booki-header-nav-link-active {
        width: auto;
    }

    .booki-header-nav-link {
        border: none;
    }

    .booki-header-nav-link-active {
        border-bottom: none;
        border-top: 2px solid var(--blue-color);
    }

}

/* TITLE */

.booki-title {
    padding: 31px 20px 36px 20px;
}

.booki-title h1 {
    margin-bottom: 13px;
}

@media screen and (min-width: 540px) {
    .booki-title {
        padding: 31px 0 36px 0;
    }
}

/* FORM */

.booki-form {
    display: flex;
    max-width: 418px;
    height: 50px;
    width: 100%;
}

.booki-form-img {
    border-radius: 15px 0 0 15px;
    display: flex;
    width: 49px;
    background-color: #F2F2F2;
    justify-content: center;
}

.booki-form img {
    width: 16px;
}

.booki-form-input {
    display: flex;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
}

.booki-form input {
    border: none;
}

.booki-form input::placeholder {
    padding-left: 10px;
    font-family: raleway;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

.booki-form-button {
    display: flex;
    width: 130px;
    justify-content: center;
    background-color:#0065FC;
    border-radius: 0 15px 15px 0;
}

.booki-form button {
    font-family: raleway;
    font-weight: bold;
    font-size: 18px;
    color: white;
    border: none;
    background: none;
}

/* FILTER */

.booki-filter {
    padding: 34px 20px 34px 20px;
}

.booki-filter-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0 20px 5px 0;
}

.booki-filter-tag {
    display: flex;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    height: 50px ;
    width: 160px;
    padding: 0 10px 0 10px;
    margin: 10px 14px 10px 0;
    /* background-color: rgb(146, 167, 235); */
}

.booki-filter-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-filter-tag img {
    width: 22px;
    margin-left: 10px;
}

.booki-filter-tag p {
    display: flex;
    font-size: 11px;
    margin:  0 10px 0 10px;
    align-items: center;
    font-weight: bold;
}

@media screen and (min-width: 540px) {

    .booki-filter {
        padding: 34px 0 34px 0;
    }

    .booki-filter-all {
        justify-content: start;
    }

    .booki-filter-tag {
        width: auto;
    }

    .booki-filter-tag p {
        font-size: 17px;
    }
}

@media screen and (min-width: 950px) {
    .booki-filter {
        display: flex;
        align-items: center;
    }
}
/* INFO */

.booki-info {
    display: flex;
    padding: 0 20px 39px 20px;
}

.booki-info img {
    height: 10px;
    border: solid 1px #D9D9D9;
    border-radius: 15px;
    padding: 6px;
    margin-right: 11px;
}

@media screen and (min-width: 540px) {
    .booki-info {
        padding: 0 0 39px 0;
    }
}

/* DOUBLE */

.booki-double {

}

@media screen and (min-width: 540px) {
    .booki-double {
        display: flex;
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 1440px) {
    .booki-double {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;
    }
}

/* MOST POPULAR */

.booki-most-popular {
    background-color: var(--graybg-color);
    padding: 28px 20px 28px 20px;
}

.booki-most-popular-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.booki-most-popular-title img {
    width: 18px;
}

.booki-most-popular-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-most-popular-card {
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 20px;
    justify-content: center;
    border: 5px solid #FFFFFF;
    margin: 10px 0px 10px 0;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
}

.booki-most-popular-card-left {
    width: 60%;
}

.booki-most-popular-card-left-img {
    height: 144px;
}

.booki-most-popular-card-left-img img {
    width: 100%;
    height: 144px;
    object-fit: cover; 
    border-radius: 20px 0px 0px 20px;
}

.booki-most-popular-card-icon img {
    width: 12px;
    color: #0065FC;
}

.booki-most-popular-card-right {
    width: 100%;
    margin: 15px;
}

.booki-most-popular-card-title {
    font-size: 16px;
    font-weight: bold;
}

.booki-most-popular-card-content {
    font-size: 14px;
}


@media screen and (min-width: 540px) {
    .booki-most-popular {
        border-radius: 20px;
        padding: 40px 37px 40px 37px;
    }
}

@media screen and (min-width: 750px) {
    .booki-most-popular-card  {
        width: 46%;
    }
}

@media screen and (min-width: 950px) {
    .booki-most-popular-card  {
        width: 30%;
    }
}

@media screen and (min-width: 1440px) {

    .booki-most-popular {
        max-width: 420px;
        margin-left: 40px;
    }

    .booki-most-popular-card  {
        width: 100%;
    }
}

/* ACCOMMODATION */

.booki-accommodation {
    padding: 28px 20px 40px 28px;
}

.booki-accommodation h1 {
    margin-bottom: 14px;
}

.booki-accommodation-row {
    display: flex;
    flex-wrap: wrap;
}

.booki-accommodation-card {
    border-radius: 20px;
    background-color: #ffffff;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
    margin: 10px 0 10px 0;
    height: 199px;
    width: 100%;
}

.booki-accommodation-card-img img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.booki-accommodation-card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 2px;
    margin-left: 8px;
}

.booki-accommodation-card-content {
    font-size: 14px;
    margin-left: 8px;
    margin-top: 4px;
}

.booki-accommodation-card-icon {
    margin-left: 8px;
}

.booki-accommodation-card-icon img {
    width: 12px;
    color: #0065FC;
}

.booki-accommodation > p {
    font-size: 18px;
    font-weight: bold;
}

@media screen and (min-width: 540px) {
    .booki-accommodation {
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 40px 37px 40px 37px;
        margin-bottom: 53px;
    } 
}

@media screen and (min-width: 650px) {

    .booki-accommodation-row {
        justify-content: space-between;
    }

    .booki-accommodation-card {
        width: 47%;
    } 
}

@media screen and (min-width: 850px) {

    .booki-accommodation-card {
        width: 31%;
    } 
}

@media screen and (min-width: 1440px) {

    .booki-accommodation {
        max-width: 880px;
        margin-bottom: 0;
    } 
}

/* ACTIVITY */

.booki-activity {
    padding: 45px 20px 45px 20px;
}

.booki-activity h1 {
    margin-bottom: 15px;
}

.booki-activity-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-activity-card {
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 7px 7px rgba(0,0,0,0.08);
    margin: 15px 0px 15px 0;
    height: 190px;
    width: 100%;
}

.booki-activity-card-img img {
    width: 100%;
    height: 134px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.booki-activity-card-title {
    font-size: 16px;
    font-weight: bold;
}

@media screen and (min-width: 540px) {

    .booki-activity-card {
        width: 48%;
        height: 267px;
    }

    .booki-activity-card-img img {
        height: 221px;
    }
}

@media screen and (min-width: 730px) {
    .booki-activity-card {
        width: 32%;
    }
}

@media screen and (min-width: 950px) {
    .booki-activity-card {
        width: 23%;
    }
}

@media screen and (min-width: 1300px) {

    .booki-activity-card {
        width: 23%;
        height: 444px;
    }

    .booki-activity-card-img img {
        height: 388px;
    }
}


/* FOOTER */

.booki-footer {
    background-color: #F2F2F2;
    padding: 45px 30px 45px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.booki-footer-card {
   width: 100%;
   margin-bottom: 40px;
}

.booki-footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.booki-footer-nav ul {
    list-style: none;
    font-size: 16px;
    line-height: 1.6;
}

.booki-footer-nav a {
    text-decoration: none;
}

@media screen and (min-width: 750px) {

    .booki-footer-card {
        width: 46%;
    } 
}

@media screen and (min-width: 1000px) {

    .booki-footer-card {
        width: 33%;
    } 
}



